html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

button {
    background-color: rgb(1, 57, 134);
    color: white;
    border: 0;
    font-size: 200%;
    margin: 0;
    font-family: "Courier New", monospace;
}

.gloss, button {
    background: #0756b8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #94c4fe), color-stop(100%, #d3f6fe));
    background: -webkit-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
    background: -moz-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
    background: -o-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
    background: -ms-linear-gradient(top, #94c4fe 31%, #d3f6fe 100%);
    background: linear-gradient(to bottom, #94c4fe 31%, #d3f6fe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c4fe', endColorstr='#d3f6fe', GradientType=0);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #4864a9;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
}

.calc-container {
    background-color: rgb(1, 57, 134);
    border-radius: 25px;
}

.screen {
    padding: 20px 20px 10px;
}

.display-container {
    background-color: white;
    height: 100px;
    width: 500px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#display, #answer {
    padding: 10px;
    color: black;
    font-size: 200%;
    max-width: 500px;
}

.keypad-container {
    height: 500px;
    width: 500px;
    margin: 0;
    padding: 10px 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.add {
    grid-column: 4;
    grid-row: 2/span 2;
}

.equal {
    grid-column: 4;
    grid-row: 4/ span 2;
}

.subtract {
    font-size: 300%;
}