html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

button {
    background-color: green;
    color: white;
    border: 0;
    font-size: 200%;
    
    margin: 0;
    
}

.calc-container {
    background-color: green;
    border-radius: 25px;
}

.screen {
    padding: 20px 20px 10px;
}


.display-container {
    background-color: black;
    height: 100px;
    width: 500px;
    border-radius: 5px;
    
}

#display {
    color: white;
}

#answer {
    color: white;
}


.keypad-container{
    height: 500px;
    width: 500px;
    
    margin: 0;
    padding: 10px 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    
}

.add {
    grid-column: 4;
    grid-row: 2/span 2;
}

.equal {
    grid-column: 4;
    grid-row: 4/ span 2;
}

.subtract {
    font-size: 300%;
}








